.venv
.env
.streamlit/config.toml

data/output/*
!data/output/.gitkeep
!data/output/data_analysis_workflow.png

data/upload/*
!data/upload/.gitkeep
data/upload/extracted/*
!data/upload/extracted/.gitkeep
